{% extends "base.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="{{ 'lib/fonts/material-icons-outlined.css' | url }}" />
  {% if page.meta.mermaid %}
    <link rel="stylesheet" type="text/css" href="{{ 'ext/mermaid.min.css' | url }}" />
    <script src="{{ 'ext/mermaid.min.js' | url }}"></script>
  {% endif %}
{% endblock %}

{% block source %}
  {% if page %}
    {% if page.meta %}
      {% if page.meta.index %}

      {% endif %}
      {% if page.meta.editor or page.meta.authors or page.meta.url or page.meta.date %}
        <div class="admonition info">
        <p class="admonition-title">A propos</p>
        <p>{% if page.meta.editor %}{{ page.meta.editor }}</br>{% endif %}
           {% if page.meta.authors %}{{ page.meta.authors }}{% endif %}
           {% if page.meta.authors and page.meta.date %} - {% endif %}
           {% if page.meta.date %}{{ page.meta.date }}{% endif %}
           {% if page.meta.authors or page.meta.date %}<br/>{% endif %}
           {% if page.meta.url %}
           <a href="{{ page.meta.url }}">Plus d'informations</a>
           {% endif %}
           {% if page.meta.isbn %}
           <br><i class="m-icons petit">public</i> <a href="https://catalogue.bnf.fr/rechercher.do?motRecherche={{ page.meta.isbn }}">ISBN {{ page.meta.isbn }}</a> {% endif %}
         </p>
        </div>
      {% endif %}
      {% if page.meta.source %}
        <h2></h2>
        <h6 id="__source">{{ lang.t("meta.source") }}</h6>
        {% set repo = config.repo_url %}
        {% if repo | last == "/" %}
          {% set repo = repo[:-1] %}
        {% endif %}
        {% set path = page.meta.path | default([""]) %}
        {% set file = page.meta.source %}
        <a href="{{ [repo, path, file] | join('/') }}" title="{{ file }}" class="md-source-file">
        {{ file }}
        </a>
      {% endif %}
      {% if page.meta.revision %}
        <div class="revision">mise à jour {{ page.meta.revision }}</div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}
